<!-- Modern Magazine-Style Blog Post List -->
<div class="modern-post-list">
  {% for post in postslist | reverse %}
    <a href="{{ post.url }}" class="modern-post-item">
      <div class="post-date">
        <time datetime="{{ post.date | htmlDateString }}">
          {{ post.date | readableDate }}
        </time>
      </div>

      <div class="post-content">
        <h2 class="post-title">
          <span>{{ post.data.title }}</span>
        </h2>

        {% if post.data.description %}
          <p class="post-description">{{ post.data.description }}</p>
        {% else %}
          <p class="post-description">{{ post.templateContent | excerpt }}</p>
        {% endif %}

        <div class="post-meta">
          <div class="post-tags">
            {% for tag in post.data.tags %}
              {%- if collections.tagList.indexOf(tag) != -1 and tag != 'posts' -%}
                <span class="post-tag">{{ tag }}</span>
              {%- endif -%}
            {% endfor %}
          </div>
          <div class="post-reading-time">
            {{ post | readingTime }} read
          </div>
        </div>
      </div>

      <div class="post-arrow">
        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M9 18L15 12L9 6" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </div>
    </a>
  {% endfor %}
</div>
